.contact-me{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    background-color: #333;

    .contact__wrapper{
        width: 100%;
        display: flex;
        height: auto;
        padding-top: 2em;

        @include contact-icons;
    }
}