.home-page {
    width: 100%;
    display: block;
    height: 100vh;
    background-image: url(./imgs/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    text-align: center; 
    // overflow: hidden;
    justify-content: center;

    nav{
        font: 13px 'opensans-bold', sans-serif;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        margin: 0 auto;
        z-index: 100;
        position: fixed;
        left: 0;
        top: 0;
        padding: 18px;
        background-color: #1e1c1d;

        ul{
            min-height: 30px;
            width: auto; 
            text-align: center;

            li{
                position: relative;
                list-style: none;
                height: 30px;
                display: inline-block;

                a{
                    display: inline-block;
                    padding: 8px 13px;
                    line-height: 12px;
                    font-size: 12px;
                    text-decoration: none;
                    text-align: left;
                    color:#fff;
                    font-weight: 700;


                    &:hover{
                        color: #F06000;
                        border-bottom: 1px solid #F06000;
                        transition: .5s ease-out;
                        background-color: #1e1c1d;
                    }
                }
                .home-a{
                    color: #F06000;
                    border-bottom:1px solid #F06000;
                }
            }
        }
    } 

    .text{
        width: 100%;
        position: absolute;
        top: 30%;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;

        @media (max-width: 455px) {
            width: 50%;
        }

        h1 {
            font: 90px/1.1em 'opensans-bold', sans-serif;
            color: #fff;
            letter-spacing: -2px;
            margin: 0 auto 18px auto;
            text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
        }

        h3{
            font: 18px/1.9em 'librebaskerville-regular', serif;
            color: #A8A8A8;
            margin: 0 auto;
            width: 70%;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
        }

        hr{
            width: 60%;
            margin: 18px auto 24px auto;
            border-color: #2F2D2E;
            border-color: rgba(150, 150, 150, .1);
        }

        .icons{
            width: 100%;
            display: flex;
            min-height: auto;
            justify-content: center;
            align-items: center;

            .social-icons{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                text-shadow: 0px 1px 2px #000000;
                padding: 0; 
                transform: translate(-50%, -50%); 
                margin-left: 49%;
                padding-top: 20px;
    
                li{
                    margin: 0;
                    list-style: none;
    
                    a{
                        width: 50px;
                        height: 50px;
                        background-color: #fff;
                        text-align: center;
                        line-height: 50px;
                        font-size: 30px;
                        margin: 0 10px;
                        display: block;
                        border-radius: 50%;
                        position: relative;
                        overflow: hidden;
                        border: 3px solid #fff;
                        z-index: 1;
    
                        &:hover .icon {
                            color: #fff;
                            transform: rotateY(360deg);
                        }
    
    
                        &:before {
                            content: "";
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            height: 100%; 
                            background: rgb(160, 75, 19);
                            transition: .5s; 
                            z-index: 2;
                        }

                        &:hover:before {
                            top: 0;
                        }

                        
    
                        .icon {
                            position: relative;
                            color: #262626;
                            transition: .5s;
                            z-index: 3;
                        }
                    }
                }
    
            }
        }
    }
    
        .btn_down{
            text-decoration: none;
            color: #fff;
            position: absolute;
            bottom: 10px;
            font-size: 40px;
            border: 2px solid #fff;
            border-radius: 60px;
            height: 60px;
            width: 60px;
            line-height: 60px;
            left: 48%; 

            @media (max-width:498px) {
                height: 30px;
                width: 30px;
                line-height: 20px;
                font-size: 20px;
                padding-top: 2px;
            }
        }
}